body {
    margin: 0;
    padding: 0;
    background-image: url("images/elnuevowallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;          
}

* {
    font-family: 'EB Garamond', serif;
}

header {
    text-align: center;
    background: transparent;
    height: 150px;
    margin: 0;
    padding: 0;
    font-size:30px;
    color:black;
    width: 100%;
}

#box{
    text-align: center;
    height: 2500px;
    margin-top: 0;
    padding: 0;
    max-width: 100%;
    border:black;
    border-radius: 5px;
}

#left{
    height: 50%;
    float: left;
    width: 40%;
    margin-left:1%;
    background-color:rgb(0,0,0,0.25);
}

@media screen and (max-width:750px) {
    #left{
        margin-top:5%;
        width:90%;
    }
}
    
.loss{
    margin-left:76%;
    margin-top:1.5%;
    width:100px;
    height:130px;
}

 
@media screen and (max-width:750px) {
    .loss{
        width: 60px;
        height: 85px;
    }
}
.letter{
    text-align:left;
    margin-top:2%;
    margin-left:3.5%;
    line-height:38px;
    color:rgba(255,255,255,0.7);
    font-size:17px;
}


@media screen and (max-width:750px) {
    .letter{
        font-size:15px;
        margin-left:2.5%;
        margin-right:2.5%;
        color: rgb(255,255,255,0.8);
    }
}