*{
padding: 0;
margin: 0;
box-sizing:border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background: black;
}



.symbole {
    color: white;
    font-size: 40px;
    text-transform:uppercase;
    font-family: "Bodoni Moda", serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links .li {
    list-style:none;
}
 

.link {
    cursor: pointer;
    font-size: 10px;
    font-family: 'Khula', sans-serif;;
    position: relative;
    white-space: nowrap;
    color:white;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--elara {
    font-family: 'Khula', sans-serif;
    text-decoration: none;
    font-size: 1.375rem;
    color:white;
}

.link--elara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
    transform: translate3d(0, -2px, 0);
}

.Italianbmt { 
    display:none
}

.Italianbmt div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
}


@media screen and (max-width:1024px){
    .nav-links{    
    width:60%;
}
}

@media screen and (max-width:760px){
    .nav-links{
    position: absolute;   
    right: 0px;
    height: 200vh;
    top: 20vh;
    background-color:black;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
}
}

.ineedahug{
    height:650px;
    background-color:grey;   
}
